
@{
   
    var name = "<b>Usman Sheikh</b>";

}


    <p>@Html.Raw(name)</p>
    <div> 
        <ul>
            @foreach (var i in "Hello World")
            {
                <li>@i</li>
            }
        </ul>
 
    </div>
@section sidebar{
    <p>Google Ads</p>

}

@Html.Partial("_Products")